* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

img {
  border: none;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#nerv {
  max-height: 50%;
}
